<?xml version="1.0"?>
<config>
    <modules>
        <Sttl_Prolog>
            <version>0.1.0</version>
        </Sttl_Prolog>
    </modules>	
    <frontend>
		<events>
			<checkout_type_onepage_save_order_after>
				<observers>
		          <prolog_observer>
		            <type>singleton</type>
		            <class>prolog/observer</class>
		            <method>placeOrderPL</method>
		          </prolog_observer>
		       </observers>				
			</checkout_type_onepage_save_order_after>
		</events>			
    </frontend>		
    <adminhtml>		
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>				
                <admin>
                    <children>
                        <prolog>
                            <title>Prolog Module</title>
                            <sort_order>200</sort_order>
                        </prolog>	
						<system>
                            <children>
                                <config>
                                    <children>
                                        <prolog>
                                            <title>Prolog Account</title>
                                        </prolog>
                                    </children>
                                </config>
                            </children>
                        </system>					
					</children>					
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <prolog>
                <class>Sttl_Prolog_Model</class>
                <resourceModel>prolog_mysql4</resourceModel>
            </prolog>
        </models>
        <resources>
            <prolog_setup>
                <setup>
                    <module>Sttl_Prolog</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>				
                <connection>
                    <use>core_setup</use>
                </connection>
            </prolog_setup>			
            <prolog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prolog_write>
            <prolog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prolog_read>
        </resources>
        <helpers>
            <prolog>
                <class>Sttl_Prolog_Helper</class>
            </prolog>
        </helpers>
    </global>
	<crontab>
        <jobs>
            <prolog_inventory>                
					<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                    <run><model>prolog/observer::scheduledUpdateInventory</model></run>                
            </prolog_inventory>
			<prolog_order>                
					<schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                    <run><model>prolog/observer::scheduledUpdateOrder</model></run>                
            </prolog_order>
        </jobs>
    </crontab>
</config>